div#container {
  width: 900px;
  height: auto;
  margin: auto;
  background-color: #eee;
}
div#headings {
  background: #ddd;
}
div#title {
  padding: 10px;
  padding-left: 40px;
  background: #888;
}
div#nav {
  width: 600px;
  height: 75px;
  margin: auto;
}
div#rest {
  padding: 10px;
  padding-left: 40px;
}
iframe {
  width: 100%;
  border: none;
}
h1, h2 {
  color: #ddd;
  font-family: Georgia, Serif;
}
p, a {
  font-family: Verdana;
}
p {
  color: #555;
  width: 720px;
}
