div#container {
  width: 800px;
  height: 100%;
  margin: auto;
  background-color: #eee;
}
div#headings {
  padding: 20px;
  margin-left: 20px;
}
div#nav {
  width: 600px;
  margin: auto;
}
iframe {
  width: 100%;
}
h1, h2, p {
  color: #555;
}
