@import url("color.css");

body {
  padding: 0;
  margin: 0;
  background: #bdb8ad;
}
#container {
  width: 900px;
  height: 100%;
  margin: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}
#title {
  padding: 1px;
  padding-left: 40px;
}
div #nav {
  width: 400px;
  height: 75px;
  margin: auto;
}
#rest {
  padding: 10px;
  padding-left: 30px;
  overflow: auto;
}
iframe {
  width: 100%;
  border: none;
}
p {
  width: 720px;
}
