ul.nav li a {
  background: #eee;
  border-color: #fff;
}
ul.nav li a:hover {
  background: #AEBD9D;
  color: #eee;
}
#title {
  background: #888;
  color: #ddd;
}
#headings {
  background: #CCD3C7;
}
#container, #centered_rest, #rest {
  background: #eee;
}
h1 {
  color: #99AF78;
}
h2 {
  color: #AEBD9D;
}
p {
  color: #555;
}
a {
  background: #ddd;
  color: #999;
}
a:hover {
  background: #AEBD9D;
  color: #fff;
}
