ul.nav li a {
  background: #44749d;
  border-color: #fff;
  color: #ffffff;
}
ul.nav li a:hover {
  background: #bbccee;
  color: #eee;
}
#title {
  background: #44749d;
}
#headings {
/* title & navbar */
  background: #c6d4e1;
}
#container, #centered_rest, #rest {
  background: #ebe7e0;
}
h1 {
  color: #ffffff;
}
h2 {
  color: #ffffff;
}
p {
  color: #555;
}
a {
  background: #c6d4e1;
  color: #44749d;
}
a:hover {
  background: #bbccee;
  color: #fff;
}

/*
http://1stwebdesigner.com/best-colors-for-websites/
44749d Blue
c6d4e1 Light blue
ffffff White
ebe7e0 Light grey
bdb8ad Grey
*/