@import url("index.css");
@import url("color.css");

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  display: inline;
}
a {
  width: 30%;
  height: 250px;
  
  float: left;
  margin: 10px;
}
h3, p {
  margin-left: 10;
  width: 90%;
}
